 # <div align="center">  The Data Scientist’s Toolbox Tutorial - 1 </div>
 ### <div align="center"><b>Quite Practical and Far from any Theoretical Concepts</b></div>
 
<div style="text-align:center">last update: <b>12/03/2018</b></div>

you may be interested have a look at it: 
>[**The Data Scientist’s Toolbox Tutorial - 2**](https://www.kaggle.com/mjbahmani/the-data-scientist-s-toolbox-tutorial-2)

---------------------------------------------------------------------
Fork, Run and Follow this kernel on GitHub:
> ###### [ GitHub](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist)


-------------------------------------------------------------------------------------------------------------
 **I hope you find this kernel helpful and some <font color="red">UPVOTES</font> would be very much appreciated**
 
 -----------

 <a id="top"></a> <br>
**Notebook Content**
1. [Introduction](#1)
    1. [Import](#2)
    1. [Version](#3)
    1. [setup](#4)
1. [Python](#5)
    1. [Python Syntax compared to other programming languages](#6)
    1. [Python: Basics](#7)
        1. [Variables](#8)
        1. [Operators](#9)
    1. [Functions](#10)
    1. [Types and Sequences](#11)
    1. [More on Strings](#12)
    1. [Reading and Writing CSV files](#13)
    1. [Dates and Times](#14)
    1. [Objects and map()](#15)
    1. [Lambda and List Comprehensions](#16)
    1. [OOP](#17)
        1. [Inheritance](#18)
    1. [ Python JSON](#19)
        1. [Convert from Python to JSON](#20)
    1. [Python PIP](#21)
        1. [Install PIP](#22)
    1. [Python Try Except](#23)
    1. [Python Iterators](#24)
        1. [Looping Through an Iterator](#25)
    1. [Dictionary](#26)
    1. [Tuples](#27)
    1. [Set](#28)
        1. [Add Items](#29)
 1. [Python Packages](#30)
1. [Numpy](#31)
1. [Pandas](#41)
1. [CheatSheet](#60)
1. [Conclusion](#61)
1. [References](#62)

<a id="1"></a> <br>
## 1-Introduction

In this kernel, we have a comprehensive tutorials for some important packages in python after that you can read my other kernels about machine learning.

 <img src="http://s8.picofile.com/file/8340141626/packages1.png"  height="420" width="420">
 
 ###### [Go to top](#top)

<a id="2"></a> <br>
## 1-1 Import

In [1]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import scipy.stats as stats
import plotly.plotly as py
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import warnings
import sklearn
import scipy
import json
import sys
import csv
import os

<a id="3"></a> <br>
## 1-2 Version

In [2]:
print('matplotlib: {}'.format(matplotlib.__version__))
print('sklearn: {}'.format(sklearn.__version__))
print('scipy: {}'.format(scipy.__version__))
print('seaborn: {}'.format(sns.__version__))
print('pandas: {}'.format(pd.__version__))
print('numpy: {}'.format(np.__version__))
print('Python: {}'.format(sys.version))

matplotlib: 2.2.3
sklearn: 0.20.1
scipy: 1.1.0
seaborn: 0.9.0
pandas: 0.23.4
numpy: 1.15.4
Python: 3.6.6 |Anaconda, Inc.| (default, Oct  9 2018, 12:34:16)
[GCC 7.3.0]

<a id="4"></a> <br>
##  1-3 Setup

In [3]:
warnings.filterwarnings('ignore')
sns.set(color_codes=True)
plt.style.available
%matplotlib inline
%precision 2

'%.2f'

 <a id="5"></a> <br>
# 2-Python

**Python** is a modern, robust, high level programming language. It is very easy to pick up even if you are completely new to programming.

It is used for:

1. Web development (server-side),
1. Software development,
1. Mathematics,
1. System scripting.
1. Data Science

<a id="6"></a> <br>
## 2-1 Python Syntax compared to other programming languages

1. Python was designed to for readability, and has some similarities to the English language with influence from mathematics.
1. Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
1. Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.
###### [Go to top](#top)

<a id="7"></a> <br>
# 2-2 Python: Basics

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

<a id="8"></a> <br>
### 2-2-1 Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [5]:
x = 2
y = 5
xy = 'Hey'

<a id="9"></a> <br>
### 2-2-2 Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

### Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |
### Bitwise Operators
| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

###### [Go to top](#top)

<a id="10"></a> <br>
# 2-3 Python : Functions

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [6]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [7]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>
`add_numbers` updated to take an optional flag parameter.

In [8]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

<br>
**Assign function** `add_numbers` to variable `a`.

In [9]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

<a id="11"></a> <br>
# 2-4 Python : Types and Sequences

<br>
Use `type` to return the object's type.

In [10]:
type('This is a string')

str

In [11]:
type(None)

NoneType

In [12]:
type(1)

int

In [13]:
type(1.0)

float

In [14]:
type(add_numbers)

function

<br>
Tuples are an **immutable** data structure (cannot be altered).

In [15]:
x = (1, 'a', 2, 'b')
type(x)

tuple

<br>
Lists are a mutable data structure.

In [16]:
x = [1, 'a', 2, 'b']
type(x)

list

<br>
Use `append` to append an object to a list.

In [17]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

<br>
This is an example of how to loop through each item in the list.

In [18]:
for item in x:
    print(item)

1
a
2
b
3.3

<br>
Or using the indexing operator:

In [19]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

<br>
Use `+` to concatenate lists.

In [20]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat lists.

In [21]:
[1]*3

[1, 1, 1]

<br>
Use the `in` operator to check if something is inside a list.

In [22]:
1 in [1, 2, 3]

True

<br>
Now let's look at strings. Use bracket notation to slice a string.

###### [Go to top](#top)

In [23]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

<br>
This will return the last element of the string.

In [24]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [25]:
x[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [26]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [27]:
x[3:]

's is a string'

In [28]:
firstname = 'MJ'
lastname = 'Bahmani'

print(firstname + ' ' + lastname)
print(firstname*3)
print('mj' in firstname)

MJ Bahmani
MJMJMJ
False

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [29]:
firstname = 'Mr Dr Mj Bahmani'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Mr Dr Mj Bahmani'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Mr
Bahmani

In [30]:
'MJ' + str(2)

'MJ2'

<br>
**Dictionaries** associate keys with values.

In [31]:
x = {'MJ Bahmani': 'Mohamadjavad.bahmani@gmail.com', 'irmatlab': 'irmatlab.ir@gmail.com'}
x['MJ Bahmani'] # Retrieve a value by using the indexing operator

'Mohamadjavad.bahmani@gmail.com'

In [32]:
x['MJ Bahmani'] = None
x['MJ Bahmani']

<br>
Iterate over all of the keys:

In [33]:
for name in x:
    print(x[name])

None
irmatlab.ir@gmail.com

<br>
Iterate over all of the values:

In [34]:
for email in x.values():
    print(email)

None
irmatlab.ir@gmail.com

<br>
Iterate over all of the **items** in the list:

In [35]:
for name, email in x.items():
    print(name,':',email)

MJ Bahmani : None
irmatlab : irmatlab.ir@gmail.com

<br>
You can unpack a sequence into different variables:

In [36]:
x = ('MJ', 'Bahmani', 'Mohamadjavad.bahmani@gmail.com')
fname, lname, email = x

In [37]:
fname

'MJ'

In [38]:
lname

'Bahmani'

<a id="12"></a> <br>
# 2-5 Python: More on Strings

###### [Go to top](#top)

In [39]:
print('MJ' + str(2))

MJ2

<br>
Python has a built in method for convenient string formatting.

In [40]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'MJ'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

MJ bought 4 item(s) at a price of 3.24 each for a total of 12.96

<a id="13"></a> <br>
# 2-6 Python:Reading and Writing CSV files

<br>
Let's import our datafile train.csv 
###### [Go to top](#top)

In [41]:


with open('../input/house-prices-advanced-regression-techniques/train.csv') as csvfile:
    house_train = list(csv.DictReader(csvfile))
    
house_train[:1] # The first three dictionaries in our list.

[OrderedDict([('Id', '1'),
              ('MSSubClass', '60'),
              ('MSZoning', 'RL'),
              ('LotFrontage', '65'),
              ('LotArea', '8450'),
              ('Street', 'Pave'),
              ('Alley', 'NA'),
              ('LotShape', 'Reg'),
              ('LandContour', 'Lvl'),
              ('Utilities', 'AllPub'),
              ('LotConfig', 'Inside'),
              ('LandSlope', 'Gtl'),
              ('Neighborhood', 'CollgCr'),
              ('Condition1', 'Norm'),
              ('Condition2', 'Norm'),
              ('BldgType', '1Fam'),
              ('HouseStyle', '2Story'),
              ('OverallQual', '7'),
              ('OverallCond', '5'),
              ('YearBuilt', '2003'),
              ('YearRemodAdd', '2003'),
              ('RoofStyle', 'Gable'),
              ('RoofMatl', 'CompShg'),
              ('Exterior1st', 'VinylSd'),
              ('Exterior2nd', 'VinylSd'),
              ('MasVnrType', 'BrkFace'),
              ('MasVnrArea', '196'),
              ('ExterQual', 'Gd'),
              ('ExterCond', 'TA'),
              ('Foundation', 'PConc'),
              ('BsmtQual', 'Gd'),
              ('BsmtCond', 'TA'),
              ('BsmtExposure', 'No'),
              ('BsmtFinType1', 'GLQ'),
              ('BsmtFinSF1', '706'),
              ('BsmtFinType2', 'Unf'),
              ('BsmtFinSF2', '0'),
              ('BsmtUnfSF', '150'),
              ('TotalBsmtSF', '856'),
              ('Heating', 'GasA'),
              ('HeatingQC', 'Ex'),
              ('CentralAir', 'Y'),
              ('Electrical', 'SBrkr'),
              ('1stFlrSF', '856'),
              ('2ndFlrSF', '854'),
              ('LowQualFinSF', '0'),
              ('GrLivArea', '1710'),
              ('BsmtFullBath', '1'),
              ('BsmtHalfBath', '0'),
              ('FullBath', '2'),
              ('HalfBath', '1'),
              ('BedroomAbvGr', '3'),
              ('KitchenAbvGr', '1'),
              ('KitchenQual', 'Gd'),
              ('TotRmsAbvGrd', '8'),
              ('Functional', 'Typ'),
              ('Fireplaces', '0'),
              ('FireplaceQu', 'NA'),
              ('GarageType', 'Attchd'),
              ('GarageYrBlt', '2003'),
              ('GarageFinish', 'RFn'),
              ('GarageCars', '2'),
              ('GarageArea', '548'),
              ('GarageQual', 'TA'),
              ('GarageCond', 'TA'),
              ('PavedDrive', 'Y'),
              ('WoodDeckSF', '0'),
              ('OpenPorchSF', '61'),
              ('EnclosedPorch', '0'),
              ('3SsnPorch', '0'),
              ('ScreenPorch', '0'),
              ('PoolArea', '0'),
              ('PoolQC', 'NA'),
              ('Fence', 'NA'),
              ('MiscFeature', 'NA'),
              ('MiscVal', '0'),
              ('MoSold', '2'),
              ('YrSold', '2008'),
              ('SaleType', 'WD'),
              ('SaleCondition', 'Normal'),
              ('SalePrice', '208500')])]

In [42]:
type(house_train)

list

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [43]:
len(house_train)

1460

<br>
`keys` gives us the column names of our csv.

In [44]:
house_train[0].keys()

odict_keys(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'])

<br>
How to do some math action on the data set

In [45]:
sum(float(d['SalePrice']) for d in house_train) / len(house_train)

180921.20

<br>
Use `set` to return the unique values for the type of Sex  in our dataset have.

In [46]:
SalePrice = set(d['SalePrice'] for d in house_train)
print(type(SalePrice ))
len(SalePrice)

<class 'set'>

663

<a id="14"></a> <br>
# 2-7 Python: Dates and Times

In [47]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

###### [Go to top](#top)

In [48]:
tm.time()

1545736840.00

<br>
Convert the timestamp to datetime.

In [49]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 12, 25, 11, 20, 40, 5131)

<br>
Handy datetime attributes:

In [50]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2018, 12, 25, 11, 20, 40)

<br>
`timedelta` is a duration expressing the difference between two dates.

In [51]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

<br>
`date.today` returns the current local date.

In [52]:
today = dt.date.today()

In [53]:
today - delta # the date 100 days ago

datetime.date(2018, 9, 16)

In [54]:
today > today-delta # compare dates

True

<a id="15"></a> <br>
# 2-8 Python: Objects and map()

<br>
An example of a class in python:

In [55]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [56]:
person = Person()
person.set_name('MJ Bahmani')
person.set_location('MI, Berlin, Germany')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

MJ Bahmani live in MI, Berlin, Germany and works in the department School of Information

<br>
Here's an example of mapping the `min` function between two lists.

In [57]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

<br>
Now let's iterate through the map object to see the values.

In [58]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

<a id="16"></a> <br>
# 2-9-Python : Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [59]:
my_function = lambda a, b, c : a + b

In [60]:
my_function(1, 2, 3)

3

<br>
Let's iterate from 0 to 9 and return the even numbers.

###### [Go to top](#top)

In [61]:
my_list = []
for number in range(0, 9):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0, 2, 4, 6, 8]

<br>
Now the same thing but with list comprehension.

In [62]:
my_list = [number for number in range(0,10) if number % 2 == 0]
my_list

[0, 2, 4, 6, 8]

<a id="17"></a> <br>
# 2-10 OOP
1. **Class** − A user-defined prototype for an object that defines a set of attributes that characterize any object of the class. The attributes are data members (class variables and instance variables) and methods, accessed via dot notation.

1. **Class variable** − A variable that is shared by all instances of a class. Class variables are defined within a class but outside any of the class's methods. Class variables are not used as frequently as instance variables are.

1. **Data member** − A class variable or instance variable that holds data associated with a class and its objects.

1. **Function overloading** − The assignment of more than one behavior to a particular function. The operation performed varies by the types of objects or arguments involved.

1. **Instance variable** − A variable that is defined inside a method and belongs only to the current instance of a class.

1. **Inheritance** − The transfer of the characteristics of a class to other classes that are derived from it.

1. **Instance** − An individual object of a certain class. An object obj that belongs to a class Circle, for example, is an instance of the class Circle.

1. **Instantiation** − The creation of an instance of a class.

1. **Method** − A special kind of function that is defined in a class definition.

1. **Object** − A unique instance of a data structure that's defined by its class. An object comprises both data members (class variables and instance variables) and methods.

1. **Operator overloading** − The assignment of more than one function to a particular operator.[4]

###### [Go to top](#top)

In [63]:
class FirstClass:
    test = 'test'
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol

In [64]:
eg3 = FirstClass('Three',3)

In [65]:
print (eg3.test, eg3.name)

test Three

In [66]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol
    def square(self):
        return self.symbol * self.symbol
    def cube(self):
        return self.symbol * self.symbol * self.symbol
    def multiply(self, x):
        return self.symbol * x

In [67]:
eg4 = FirstClass('Five',5)

In [68]:
print (eg4.square())
print (eg4.cube())

25
125

In [69]:
eg4.multiply(2)

10

In [70]:
FirstClass.multiply(eg4,2)

10

<a id="18"></a> <br>
### 2-10-1 Inheritance

There might be cases where a new class would have all the previous characteristics of an already defined class. So the new class can "inherit" the previous class and add it's own methods to it. This is called as inheritance.

Consider class SoftwareEngineer which has a method salary.

In [71]:
class SoftwareEngineer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def salary(self, value):
        self.money = value
        print (self.name,"earns",self.money)

In [72]:
a = SoftwareEngineer('Kartik',26)

In [73]:
a.salary(40000)

Kartik earns 40000

In [74]:
dir(SoftwareEngineer)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'salary']

In [75]:
class Artist:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def money(self,value):
        self.money = value
        print (self.name,"earns",self.money)
    def artform(self, job):
        self.job = job
        print (self.name,"is a", self.job)

In [76]:
b = Artist('Nitin',20)

In [77]:
b.money(50000)
b.artform('Musician')

Nitin earns 50000
Nitin is a Musician

In [78]:
dir(Artist)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'artform',
 'money']

<a id="19"></a> <br>
## 2-11 Python JSON

In [79]:


# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

<a id="20"></a> <br>
## 2-11-1 Convert from Python to JSON

In [80]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

You can convert Python objects of the following types, into JSON strings:

* dict
* list
* tuple
* string
* int
* float
* True
* False
* None

###### [Go to top](#top)

In [81]:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

Convert a Python object containing all the legal data types:

In [82]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

<a id="21"></a> <br>
## 2-12 Python PIP

<a id="21"></a> <br>
### 2-12-1 What is a Package?
A package contains all the files you need for a **module**.

**Modules** are Python code libraries you can include in your project.

###### [Go to top](#top)

<a id="22"></a> <br>
### 2-12-2 Install PIP
If you do not have PIP installed, you can download and install it from this page: https://pypi.org/project/pip/

<a id="23"></a> <br>
## 2-13 Python Try Except
The **try** block lets you test a block of code for errors.

The **except** block lets you handle the error.

The **finally** block lets you execute code, regardless of the result of the try- and except blocks.

In [83]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}

In [84]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
The 'try except' is finished

<a id="24"></a> <br>
## 2-14 Python Iterators
An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().
###### [Go to top](#top)

Return a iterator from a tuple, and print each value:

In [85]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

<a id="25"></a> <br>
### 2- 14-1 Looping Through an Iterator

In [86]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

<a id="26"></a> <br>
## 2- 15 Dictionary
A **dictionary** is a collection which is **unordered, changeable and indexed**. In Python dictionaries are written with curly brackets, and they have **keys and values**.

In [87]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

<a id="27"></a> <br>
## 2-16 Tuples
A **tuple** is a collection which is **ordered and unchangeable**. In Python tuples are written with round brackets.

In [88]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

<a id="28"></a> <br>
## 2-19 Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
###### [Go to top](#top)

In [89]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [90]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

<a id="29"></a> <br>
### 2-17-1 Add Items
To add one item to a set use the add() method.

To add more than one item to a set use the update() method.
###### [Go to top](#top)

In [91]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

<a id="30"></a> <br>
# Python Packages
* Numpy
* Pandas
* Matplotlib
* Seaborn
* Sklearn
* plotly

<a id="31"></a> <br>
# 3- Numerical Python (NumPy)

For Reading this section please fork and run the following kernel:

[The Data Scientist’s Toolbox Tutorial - 2](https://www.kaggle.com/mjbahmani/the-data-scientist-s-toolbox-tutorial-2/)

<a id="41"></a> <br>
# 4- Pandas

For Reading this section please fork and run the following kernel:

[The Data Scientist’s Toolbox Tutorial - 2](https://www.kaggle.com/mjbahmani/the-data-scientist-s-toolbox-tutorial-2/)

<a id="58"></a> <br>
## 5 Courses
There are a lot of online courses that can help you develop your knowledge, here I have just  listed some of them:

1. [Machine Learning Certification by Stanford University (Coursera)](https://www.coursera.org/learn/machine-learning/)

2. [Machine Learning A-Z™: Hands-On Python & R In Data Science (Udemy)](https://www.udemy.com/machinelearning/)

3. [Deep Learning Certification by Andrew Ng from deeplearning.ai (Coursera)](https://www.coursera.org/specializations/deep-learning)

4. [Python for Data Science and Machine Learning Bootcamp (Udemy)](Python for Data Science and Machine Learning Bootcamp (Udemy))

5. [Mathematics for Machine Learning by Imperial College London](https://www.coursera.org/specializations/mathematics-machine-learning)

6. [Deep Learning A-Z™: Hands-On Artificial Neural Networks](https://www.udemy.com/deeplearning/)

7. [Complete Guide to TensorFlow for Deep Learning Tutorial with Python](https://www.udemy.com/complete-guide-to-tensorflow-for-deep-learning-with-python/)

8. [Data Science and Machine Learning Tutorial with Python – Hands On](https://www.udemy.com/data-science-and-machine-learning-with-python-hands-on/)

9. [Machine Learning Certification by University of Washington](https://www.coursera.org/specializations/machine-learning)

10. [Data Science and Machine Learning Bootcamp with R](https://www.udemy.com/data-science-and-machine-learning-bootcamp-with-r/)
11. [Creative Applications of Deep Learning with TensorFlow](https://www.class-central.com/course/kadenze-creative-applications-of-deep-learning-with-tensorflow-6679)
12. [Neural Networks for Machine Learning](https://www.class-central.com/mooc/398/coursera-neural-networks-for-machine-learning)
13. [Practical Deep Learning For Coders, Part 1](https://www.class-central.com/mooc/7887/practical-deep-learning-for-coders-part-1)
14. [Machine Learning](https://www.cs.ox.ac.uk/teaching/courses/2014-2015/ml/index.html)
 <a id="59"></a> <br>
## 6 Ebooks
If you love reading , here is **10 free machine learning books**
1. [Probability and Statistics for Programmers](http://www.greenteapress.com/thinkstats/)
2. [Bayesian Reasoning and Machine Learning](http://web4.cs.ucl.ac.uk/staff/D.Barber/textbook/091117.pdf)
2. [An Introduction to Statistical Learning](http://www-bcf.usc.edu/~gareth/ISL/)
2. [Understanding Machine Learning](http://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/index.html)
2. [A Programmer’s Guide to Data Mining](http://guidetodatamining.com/)
2. [Mining of Massive Datasets](http://infolab.stanford.edu/~ullman/mmds/book.pdf)
2. [A Brief Introduction to Neural Networks](http://www.dkriesel.com/_media/science/neuronalenetze-en-zeta2-2col-dkrieselcom.pdf)
2. [Deep Learning](http://www.deeplearningbook.org/)
2. [Natural Language Processing with Python](https://www.researchgate.net/publication/220691633_Natural_Language_Processing_with_Python)
2. [Machine Learning Yearning](http://www.mlyearning.org/)
 <a id="60"></a> <br>
## 7 Cheat Sheets
Data Science is an ever-growing field, there are numerous tools & techniques to remember. It is not possible for anyone to remember all the functions, operations and formulas of each concept. That’s why we have cheat sheets. But there are a plethora of cheat sheets available out there, choosing the right cheat sheet is a tough task. So, I decided to collect them here

Here I have selected the cheat sheets on the following criteria: comprehensiveness, clarity, and content [5]:
1. [Quick Guide to learn Python for Data Science ](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Data-Science-in-Python.pdf)
1. [Python for Data Science Cheat sheet ](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/beginners_python_cheat_sheet.pdf)
1. [Python For Data Science Cheat Sheet NumPy](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Numpy_Python_Cheat_Sheet.pdf)
1. [Exploratory Data Analysis in Python]()
1. [Data Exploration using Pandas in Python](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Data-Exploration-in-Python.pdf)
1. [Data Visualisation in Python](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/data-visualisation-infographics1.jpg)
1. [Python For Data Science Cheat Sheet Bokeh](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Python_Bokeh_Cheat_Sheet.pdf)
1. [Cheat Sheet: Scikit Learn ](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Scikit-Learn-Infographic.pdf)
1. [MLalgorithms CheatSheet](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/MLalgorithms-.pdf)
1. [Probability Basics  Cheat Sheet ](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/probability_cheatsheet.pdf)


<a id="61"></a> <br>
## 8 -Conclusion
You have got an introduction to the main packages and ideas in the **The Data Scientist’s Toolbox Tutorial - 1**. I hope,  you have had fun with it also, I want to hear your voice to update this kernel. in addition, there is the new and second version of the kernel that introduces the next packages. to continue please click on [**The Data Scientist’s Toolbox Tutorial - 2**](https://www.kaggle.com/mjbahmani/the-data-scientist-s-toolbox-tutorial-2)



---------------------------------------------------------------------
Fork, Run and Follow this kernel on GitHub:
> ###### [ GitHub](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist)


-------------------------------------------------------------------------------------------------------------
 **I hope you find this kernel helpful and some <font color="red">UPVOTES</font> would be very much appreciated.**
 
 -----------

<a id="62"></a> <br>
## 9- References
1. [Coursera](https://www.coursera.org/specializations/data-science-python)
1. [GitHub](https://github.com/mjbahmani)
1. [plot.ly](https://plot.ly/python/offline/)
1. [tutorialspoint](https://www.tutorialspoint.com/python/python_classes_objects.htm)
1. [Top 28 Cheat Sheets for Machine Learning](https://www.analyticsvidhya.com/blog/2017/02/top-28-cheat-sheets-for-machine-learning-data-science-probability-sql-big-data/)

###### [Go to top](#top)

you may be interested have a look at it: [**Course Home Page**](https://www.kaggle.com/mjbahmani/10-steps-to-become-a-data-scientist)